<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Questrial&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Workout Generator</h1>
    
    <div id="instructions">Enter the required information below:</div>

    <form action="/your-workout" method="POST">
        <div class="form-group">
            <label for="goal">Weight Goal:</label>
            <select name="goal" id="goal" required>
                <option value="Gain">Gain</option>
                <option value="Lose">Lose</option>
            </select>
         </div>

        <div class="form-group">
            <label for="experience">Experience:</label>
            <select name="experience" id="experience" required>
                <option value="beginner">Beginner</option>
                <option value="intermediate">Intermediate</option>
                <option value="advanced">Advanced</option>
            </select>
         </div>

        <div class="form-group">
            <label for="days">Days available to work out per week:</label>
            <input type="number" name="days" id="days" placeholder="e.g 3 days" min="1" max="7" required>
         </div>        
        
        <div class="form-group">
            <label for="time">Time available to work out per workout:</label>
            <input type="number" name="time" id="time" placeholder="e.g 60 minutes" min="1" max="1440" required>
         </div>

        <div class="form-group">
            <label for="equipment">Equipment:</label>
            <select name="equipment" id="equipment" required>
                <option value="gym">Gym</option>
                <option value="home">Home</option>
            </select>
        </div>

        <button type="submit">Get Workout</button>
    </form>

    <footer>©Alejandro Ariza Ferro</footer>

</body>
</html>